<ons-page ng-controller="JournalCtrl">
	<ons-toolbar>		
	  <div class="center">Journal</div>
	    <div class="right">
			<ons-toolbar-button ng-click="addEntry()">
			  <ons-icon icon="plus">
			</ons-toolbar-button>
			<ons-toolbar-button ng-click="publish()">
			  <ons-icon icon="share-alt">
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	<ons-scroller infinit-scroll-enable="true" on-scrolled="fetchMore()" can-load="true" threshold='100'>
		<ul>
			<li ng-repeat="entry in journalEntries">
				<div class="journalEntry">
					<div class="journalEntryHeader">{{entry.Day | date: 'EEEE, MMM dd'}}</div>
					<div class="journalEntryActivities">
						<ul>
							<li ng-repeat="activity in entry.Activities">
								<div class="myTable">
									<div class="journalEntryTime column">{{activity.StartTime | date: 'HH:mm'}}</div>
									<div class="myColumn">
										<div>{{activity.Notes}}</div>
										<ul>
											<li ng-repeat="image in activity.Images">
												<div class="myTable">
													<!--<img class="smallThumb" src="images/{{image.Url}}" />-->
													<div class="smallThumb myColumn" style="background-image: url('{{image.ImageUrl}}');"></div>
													<div class="journalEntryImageCaption myColumn">{{image.Caption}}</div>
												</div>
											</li>
										</ul>									
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>			  
			</li>
		</ul>
	</ons-scroller>
</ons-page>