<ons-page ng-controller="JournalEntryCtrl">
	<ons-toolbar>
		<div class="left">
			<ons-back-button>Back</ons-back-button>
		</div>
	  <div class="center">Journal Entry</div>
	    <div class="right">
			<ons-toolbar-button ng-click="save()">
			  <ons-icon icon="save">
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	
	<form name="form" ng-submit="save(form.$valid)" novalidate>
	<ons-list>
		<ons-list-item>
			<ons-row>
				<ons-col width="90px">
					<label style="color: #666">Location</label>
				</ons-col>
				<ons-col>
					<div class="list-input">
						<!--<input type="datetime-local" value="1996-12-19T16:39:57"/>-->
						<input class="text-input"
							ng-model="entry.Location.Name"
							placeholder="location">
						</input>
					</div>
				</ons-col>
			</ons-row>
		</ons-list-item>
		<ons-list-item>
			<ons-row>
				<ons-col width="90px">
					<label style="color: #666">Time</label>
				</ons-col>
				<ons-col>
					<div class="list-input">
						<input class="text-input"
							type="datetime-local"
							ng-model="entry.StartTime"
							placeholder="start" required>
						</input>
					</div>
				</ons-col>
			</ons-row>
		</ons-list-item>
		<ons-list-item>
			<ons-row>
				<ons-col width="90px">
					<label style="color: #666">Notes</label>
				</ons-col>
				<ons-col>
					<div class="list-input">
						<textarea class="text-input"
						  ng-model="entry.Notes" 
						  placeholder="notes" required>
						</textarea>
					</div>
				</ons-col>
			</ons-row>
		</ons-list-item>
		<ons-list-item ng-repeat="image in entry.Images">
			<ons-row>
				<ons-col width="90px">
					<div class="smallThumb column" back-img="{{image.ImageUrl}}" ></div>
				</ons-col>
				<ons-col>
					<div class="list-input">
						<input class="text-input"
							ng-model="image.Caption"
							placeholder="caption">
						</input>
					</div>
				</ons-col>
			</ons-row>
		</ons-list-item>
	</ons-list>
	
	<div class="content-padded">
		<ons-button modifier="large" type="submit" ng-disabled="form.$invalid">
			Save
		</ons-button>
	</div>
	</form>
	<!--
	<div class="table centerDiv">		
		<div>
			<ul>
				<li ng-repeat="image in entry.Images">
					<div class="table centerDiv">
						<div class="smallThumb column" back-img="{{image.ImageUrl}}" ></div>
						<div class="journalEntryImageCaption column">
							<input class="text-input"
								ng-model="image.Caption"
								placeholder="caption">
							</input>
						</div>
					</div>
				</li>
			</ul>	
		</div>
	</div>-->
</ons-page>