<ons-page class="center" ng-controller="TripsCtrl">
	<!--
	<ios-list>
		<ios-list-item ng-repeat="item in trips" item="item">
		</ios-list-item>		
	</ios-list>
	-->
	
	<ons-list slide-item-group>
        <ons-list-item  ng-repeat="trip in trips" class="topcoat-list__item__line-height"> <!--ng-click="showPlans($index)"-->
			<slide-item on-tap="showPlans($index)">
				<div class="swipe-item-top">
					content gets inserting here
					<br/>
					abc
				</div>
				<div class="swipe-item-bottom">
					<div class="swipe-item-menu" ng-click="more()">
						More
					</div>
					<div class="swipe-item-menu" style="background-color: red; color: white">
						Delete
					</div>
				</div>
			</slide-item>			
		</ons-list-item>
    </ons-list>
	
</ons-page>